@page
@model RegistroUsuarios.Pages.ConsultaUsuariosModel
@{
}

<div class="text-center">
    <h1>Consulta de usuarios</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id </th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Fecha</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>1</td>
            <td>Ezequiel Huma</td>
            <td>Ingeniero en sistemas</td>
            <td>12/12/2012</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Emmanuel Suarez</td>
            <td>Ingeniero en sistemas</td>
            <td>12/12/2013</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Lindon Emil Castillo</td>
            <td>Ingeniero en sistemas</td>
            <td>12/12/2014</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Juan Francisco Rosa</td>
            <td>Ingeniero en sistemas</td>
            <td>12/12/2015</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Enel Almonte</td>
            <td>Ingeniero en sistemas</td>
            <td>12/12/2013</td>
        </tr>
    </tbody>

</table>

<input type="submit" class="btn btn-primary float-right" value="Imprimir"/>